@font-face {
    font-family: 'CustomFont';
    src: url('fonts/source-sans-pro/SourceSansPro-Regular.otf') format('SourceSansPro'),
         url('fonts/Spin-Cycle-OT/spincycle_3d_ot.otf') format('SoinCycleOT');
    font-weight: normal;
    font-style: normal;
}

.main-part{
    background-image: url(images/headphones_hero_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*width: 100vw;
    height:60vw;*/
    margin: 0px;
    padding: 0px;
    

}

/*.header-list{
     position: flex;
     flex-direction: row;
     align-items:center ;
     list-style: none;
}*/
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    height:30px;
}
.header-btn{
    display: none;
    background-color: transparent;
    color: white;
    size: 12px;
    border: none;
    margin-top: 20px;

   
}
.header-btn :hover{
    .header-btn:hover {
        /*background-color: #ff6565; /* Change background color on hover */
        background-color: black; /* Change text color on hover */
        cursor: pointer; /* Change cursor to pointer on hover */
    }
    .header-btn:focus + .dropdown-content {
        display: block;
    }

    .header-btn:active {
        background-color: #e04e4e; /* Change background color on click */
        color: white; /* Change text color on click */
    }
    

}

.header-logo {
    float: left;
    padding: 10px 20px;
    height: 40px;
}

.header-list {
    display: flex; /* Use flexbox to arrange children horizontally */
    list-style-type: none; /* Remove default list styling */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    gap: 20px; /* Optional: Add space between list items */
    color: white;
}

.header-list li {
    display: flex; /* Ensure list items are flex items */
    align-items: center; /* Center items vertically */
    margin-right: 30px;
   

}
.middle-pbp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 480px;
}
.main-p-1{
    font-family: 'Source Sans Pro', sans-serif; /* Apply the custom font */
    font-size: 32px;
    font-style: bold; 
    color: white;   

}
.main-p-2{
    font-family: 'Source Sans Pro', sans-serif; /* Apply the custom font */
    font-size: 16px;
    font-style: bold;
    color: white;
}
.main-btn-div{
    background-color: transparent;
    border: none;
}
.main-btn{
    background-color:#ff6565; /* Sets the background color to purple */
    color: white; /* Sets the text color to white */
    border: none; /* Removes the default border */
    padding: 15px 30px; /* Adds padding to the button */
    border-radius: 30px; /* Sets the border radius to 10px */
    font-size: 16px; /* Sets the font size */
    /*cursor: pointer; /* Changes the cursor to a pointer on hover */
    /*margin-top: 20px; /* Adds some space above the button */
    /*margin-left:400px;*/ 
    text-align: center; /* Centers the text inside the button */
    /*display: flex; /* Ensures the button is an inline-block element */
    /*flex-direction: column;*/
    /*position: relative;
    margin-bottom: 150px;*/
    margin-top: 40px;
}
.main-p-3{
    font-family: 'Source Sans Pro', sans-serif; /* Apply the custom font */
    font-size: 16px;
    margin-top: 80px;
    color: white;
     
}

.what-we-do{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.what-we-do-p {
    color:black;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif; 
    text-align: center;
}
.four-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.four-icons :p{
    color: black;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif; 
    text-align: center;
}
.waves{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.fa-waveform-lines{
    size: 32px;
    color: #ff6565;
}
.music{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.fa-music{
    size: 32px;
    color: #ff6565;
}
.video{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fa-video{
    size: 32px;
    color: #ff6565;
}
    
.ears{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
.fa-ear{
    size: 32px;
    color: #ff6565;
}
.our-results{
    background-image: url(images/headphones_hero_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}
.our-results-p{
    color: white;
    text-align: center;
    margin-top:02vw;

}
.four-pentagons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.pentagon-one , .pentagon-two, .pentagon-three, .pentagon-four{
    display: relative; /* Set the container to relative positioning */
    column-count: 1;
    width:100%;
    align-items: center;
    gap: 10px;
    text-align: center;
}


.pentagon-one img , .pentagon-two img, .pentagon-three img, .pentagon-four img{
    display: relative; /* Ensure the image is a block element */
    width: 100%; 
    z-index: 1; /* Set the z-index to 1 */
    
}

.pentagon-one p , .pentagon-two p, .pentagon-three p, .pentagon-four p{
    position: block; /* Set the text to absolute positioning */
    z-index: 2; /* Set the z-index to 2 */
    top: 10%; /* Position the text in the middle vertically */
    left: 50%; /* Position the text in the middle horizontally */
    /*transform: translate(-50%, -50%); /* Center the text */
    color: white; /* Set the text color to white */
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
    z-index: 2;
    padding: 5px; /* Optional: Add padding for better readability */
    border-radius: 5px; /* Optional: Add rounded corners */
    top:50% ;
}
.contact-us hr{
    width: 100px;
    margin-top: 20px;
    color: gray;
    

}
.call-to-action{
    display: flex;
    position: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.cta-btn{
    background-color:#ff6565; /* Sets the background color to purple */
    color: white; /* Sets the text color to white */
    border: none; /* Removes the default border */
    padding: 15px 30px; /* Adds padding to the button */
    border-radius: 30px; /* Sets the border radius to 10px */
    font-size: 16px; /* Sets the font size */
    /*cursor: pointer; /* Changes the cursor to a pointer on hover */
    /*margin-top: 20px; /* Adds some space above the button */
    /*margin-left:400px;*/ 
    text-align: center; /* Centers the text inside the button */
    /*display: flex; /* Ensures the button is an inline-block element */
    /*flex-direction: column;*/
    /*position: relative;
    margin-bottom: 150px;*/
    margin-top: 40px;
    
}
.footer{
    background-color:#071629 ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap:10%;
}
.footer-logo{
    margin: 20px;
    

}
.footer-icons{
    /*-left: 50%;
    margin-right: 20%;*/
    width: 150px;
    gap: 10px;
    size: 24px;
}

.footer p{
    margin-top: 90px;
    justify-content: center;
    /*margin-left: 90%;*/
    width: 200px;

}


/* Media Queries */

@media (max-width:1024px) {
      .header{
    /*display: flex;*/
    /*flex-direction: column;*/
    justify-content: center; 
    align-items: center; 
    padding: 10px 20px;
    height:30px;
    }
    .header-list{
        flex-direction: column;
        gap: 10px;
        display: none;

    }
    .header-logo{
        margin: 10px;

    }
    
    .header-btn{
        display: block;
        background-color: transparent;
        color: white;
        size: 12px;
        border: none;
        margin-top: 20px;
    }
    .header-btn:on-click {
        .header-list{
            display: flex;
        }
    }
        .four-icons{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            margin-top: 40px;
        }
        .four-pentagons {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 20px;
            margin-top: 40px;
        }
         
    }

    @media (max-width:786px) {
        .header{
        /*display: flex;*/
        /*flex-direction: column;*/
        justify-content: center; 
        align-items: center; 
        padding: 10px 20px;
        height:30px;
        }
        .header-list{
            flex-direction: column;
            gap: 10px;
            display: none;
    
        }
        .header-logo{
            margin: 10px;
    
        }
        
        .header-btn{
            display: block;
            background-color: transparent;
            color: white;
            size: 12px;
            border: none;
            margin-top: 20px;
        }
        .header-btn:on-click {
            .header-list{
                display: flex;
            }
        }
            .four-icons{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                margin-top: 40px;
            }
            .four-pentagons{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                margin-top: 40px;
            }
        }
    


