.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    height:30px;
}
.header-btn{
    display: none;
    background-color: transparent;
    color: white;
    size: 12px;
    border: none;
    margin-top: 20px;

   
}
.header-btn :hover{
    .header-btn:hover {
        /*background-color: #ff6565; /* Change background color on hover */
        background-color: black; /* Change text color on hover */
        cursor: pointer; /* Change cursor to pointer on hover */
    }
    .header-btn:focus + .dropdown-content {
        display: block;
    }

    .header-btn:active {
        background-color: #e04e4e; /* Change background color on click */
        color: white; /* Change text color on click */
    }
    

}

.header-logo {
    float: left;
    padding: 10px 20px;
    height: 40px;
}

.header-list {
    display: flex; /* Use flexbox to arrange children horizontally */
    list-style-type: none; /* Remove default list styling */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    gap: 20px; /* Optional: Add space between list items */
    color: white;
}

.header-list li {
    display: flex; /* Ensure list items are flex items */
    align-items: center; /* Center items vertically */
    margin-right: 30px;
   

}
.middle-pbp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 480px;
}
.main-p-1{
    font-family: 'Source Sans Pro', sans-serif; /* Apply the custom font */
    font-size: 32px;
    font-style: bold; 
    color: white;   

}
.main-p-2{
    font-family: 'Source Sans Pro', sans-serif; /* Apply the custom font */
    font-size: 16px;
    font-style: bold;
    color: white;
}
.main-btn-div{
    background-color: transparent;
    border: none;
}
.main-btn{
    background-color:#ff6565; /* Sets the background color to purple */
    color: white; /* Sets the text color to white */
    border: none; /* Removes the default border */
    padding: 15px 30px; /* Adds padding to the button */
    border-radius: 30px; /* Sets the border radius to 10px */
    font-size: 16px; /* Sets the font size */
    /*cursor: pointer; /* Changes the cursor to a pointer on hover */
    /*margin-top: 20px; /* Adds some space above the button */
    /*margin-left:400px;*/ 
    text-align: center; /* Centers the text inside the button */
    /*display: flex; /* Ensures the button is an inline-block element */
    /*flex-direction: column;*/
    /*position: relative;
    margin-bottom: 150px;*/
    margin-top: 40px;
}
.main-p-3{
    font-family: 'Source Sans Pro', sans-serif; /* Apply the custom font */
    font-size: 16px;
    margin-top: 80px;
    color: white;
     
}
@media (max-width:1024px) {
    .header{
  /*display: flex;*/
  /*flex-direction: column;*/
  justify-content: center; 
  align-items: center; 
  padding: 10px 20px;
  height:30px;
  }
  .header-list{
      flex-direction: column;
      gap: 10px;
      display: none;

  }
  .header-logo{
      margin: 10px;

  }
  
  .header-btn{
      display: block;
      background-color: transparent;
      color: white;
      size: 12px;
      border: none;
      margin-top: 20px;
  }
  .header-btn:on-click {
      .header-list{
          display: flex;
      }
  }
      
  }

  @media (max-width:786px) {
      .header{
      /*display: flex;*/
      /*flex-direction: column;*/
      justify-content: center; 
      align-items: center; 
      padding: 10px 20px;
      height:30px;
      }
      .header-list{
          flex-direction: column;
          gap: 10px;
          display: none;
  
      }
      .header-logo{
          margin: 10px;
  
      }
      
      .header-btn{
          display: block;
          background-color: transparent;
          color: white;
          size: 12px;
          border: none;
          margin-top: 20px;
      }
      .header-btn:on-click {
          .header-list{
              display: flex;
          }
      }
          
      }